.navCT {
    width: 100%;
  }
  
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: var(--bg); /* Or whatever color */
    position: relative;
  }

  .navbar-links {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  
  .navbar-links ul {
    display: flex;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-toggle {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 0.5rem;
    right: 1rem;
  }
  
  /* Mobile version */
  @media (max-width: 700px) {
    .navbar-links {
        display: none;
    }

    .navbar-links.active {
        display: block;
      }
    
    .navbar-links.active ul {
      flex-direction: column;
      background-color: var(--bg);
      position: absolute;
      top: 2rem; /* adjust based on your navbar height */
      right: 15px;
      border-radius: 10px;
      border: 2px solid var(--light);
      z-index: 1000;
      list-style: none;
      padding: 10px;
      gap: 1rem;
        z-index: 1000;
    }
  
    .navbar-toggle {
        display: block;
      top: -0.3rem;
    }
  }
  